body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    background-color: lightgray;
}

a, .login-bt, .signup-bt {
    padding: 10px;
    text-align: center;
}

.company-bt {
    padding: 20px;
    text-align: center;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-text {
    flex: 1;
    padding: 20px;
    height: 650px;
    max-width: 450px;
    background-color: rgb(57, 97, 185);
    color: white;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.forms-container {
    flex: 1;
    padding: 20px;
    height: 650px;
    max-width: 450px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
    overflow: hidden;
}

.form {
    max-width: 400px;
    width: 100%;
    /*transition: transform 0.5s ease; */
    text-align: center;
}

.hidden {
    display: none;
    /*transform: translateX(150%);*/
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: rgb(57, 97, 185);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.form button:hover {
    background-color: rgb(98, 127, 191);
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    font-size: 14px;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-unsuccessful {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
