<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCIT Job Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <div class="welcome-text">
            <section>
                <h3>Welcome to DCIT Job Board – Your Gateway to Tailored Career Opportunities!</h3>
                <p>DCIT Job Board connects industries with University of the West Indies alumni, offering tailored job opportunities.</p>

                <p>We bridge industry and academia, providing unique job openings for alumni and recent graduates.</p>

                <div class="company-bt">
                    Ready to showcase your company's job openings?
                    <a href="#" id="company-btn">Company Sign up!</a>
                </div>
            </section> 
        </div>
        <div class="forms-container">
            <div class="form" id="login-form">
                <h2>Login</h2>
                <div id="flash-messages">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                <form method="POST" action="/login">
                    <!-- csrf token -->
                    <!-- <input type="hidden" name="csrf_token" value="csrf_token()"/> -->

                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
        
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
        
                    <button type="submit">Login</button>
                </form>
                <div class="signup-bt">
                    Don't have an account?
                    <a href="#" id="signup-btn">Alumni Signup</a>
                </div>
            </div>
            <div class="form hidden" id="signup-form">
                <h2>Signup</h2>
                <form method="POST" action="/alumni-signup">
                    <!-- csrf token -->
                    <!-- <input type="hidden" name="csrf_token" value="{csrf_token() "/> -->

                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    
                    <label for="studentid">Student ID:</label>
                    <input type="text" id="studentid" name="alumni_id" required>
        
                    <label for="email">UWI Email Address:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="contact">Contact:</label>
                    <input type="contact" id="contact" name="contact" required>
        
                    <label for="firstname">First Name:</label>
                    <input type="text" id="firstname" name="firstname" required>
        
                    <label for="lastname">Last Name:</label>
                    <input type="text" id="lastname" name="lastname" required>
        
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
        
                    <button type="submit">Signup</button>
                </form>
                <div class="login-bt">
                    Already have an account?
                    <a href="#" id="login-btn">Login</a>
                </div>
            </div>
            <div class="form hidden" id="company-form">
                <h2>Company Signup</h2>
                <form method="POST" action="/company-signup">
                    <!-- csrf token -->
                    <!-- <input type="hidden" name="csrf_token" value="csrf_token()"/> -->
                    
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    
                    <label for="company_name">Company Name:</label>
                    <input type="text" id="company_name" name="company_name" required>
        
                    <label for="company_address">Company Address:</label>
                    <input type="text" id="company_address" name="company_address" required>
        
                    <label for="email">Company Email:</label>
                    <input type="email" id="email" name="email" required>
        
                    <label for="contact">Company Contact Number:</label>
                    <input type="tel" id="contact" name="contact" required>
        
                    <label for="company_website">Company Website</label>
                    <input type="url" id="company_website" name="company_website">
        
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
        
                    <button type="submit">Signup</button>
                </form>
                <div class="login-bt">
                    Already have an account?
                    <a href="#" id="loginbut">Login</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const compLogin = document.getElementById('loginbut');
        const loginForm = document.getElementById('login-form');
        const signupForm = document.getElementById('signup-form');
        const companyForm = document.getElementById('company-form');
        const companyBtn = document.getElementById('company-btn');
        const loginBtn = document.getElementById('login-btn');
        const signupBtn = document.getElementById('signup-btn');
    
        loginBtn.addEventListener('click', function() {
            signupForm.classList.add('hidden');
            loginForm.classList.remove('hidden');
        });
    
        signupBtn.addEventListener('click', function() {
            loginForm.classList.add('hidden');
            signupForm.classList.remove('hidden');
        });

        companyBtn.addEventListener('click', function() {
            loginForm.classList.add('hidden');
            signupForm.classList.add('hidden');
            companyForm.classList.remove('hidden');
        });

        compLogin.addEventListener('click', function() {
            companyForm.classList.add('hidden');
            loginForm.classList.remove('hidden');
        })
    // Hide flash messages after 5 seconds
        setTimeout(() => {
            const flashMessages = document.getElementById('flash-messages');
            if (flashMessages) {
                flashMessages.style.display = 'none';
            }
        }, 5000);  // 5000 milliseconds = 5 seconds

    </script>
</body>
</html>